<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>United Planning Organization</title>
		<style>body  {
	font-family:arial;margin:0px;
}

.outerFrame {
	width:1280px;
	margin:0px auto;
	background:#263A93;
	padding-top:1px;
}

.innerFrame {
	width:1260px;
	margin:10px;
	border:0px solid black;
	padding-bottom:10px;
}

.leftColumn {
	vertical-align:top;
	width:300px;
	background:#D7BFA7; 
}

.rightColumn {
	background:#D7BFA7;
	vertical-align:top;
}

.contentTop {
	margin-top:-5px;width:623px;border-radius:10px 10px 0 0;
}
.otl {
	float:left;margin-left:0px;
}
.otm {
	display:block;margin:0px;width:959px;height:50px;background:url(images/content_top_mid.png) repeat-x;
}
.otr {
	float:right;margin-right:0px;
}
.obl {
	float:left;margin-left:0px;
}
.obm {
	display:block;margin:0px;width:959px;height:50px;background:url(images/content_bottom_mid.png) repeat-x;
}
.obr {
	float:right;margin-right:0px;
}

.contentTitle {
	color:#fff;position:relative;top:-39px;font-size:22px;
}

.contentOuterBox {
	position:relative;margin:0px;background:#fff url(images/path-sun-3c.png);
}

.content {
	margin:15px;
}

.contentBottom {
	width:623px;border-radius:0 0 10px 10px;
}

.navItem {
	display:block;padding:5px 0 5px 0;background:#fff;color:#000;text-decoration:none;
}

.navItem:hover {
	display:block;padding:5px 0 5px 0;background:#000;color:#fff;text-decoration:none;
}

.navSpacer {
	margin:0px;
}
		</style>
		<link rel="stylesheet" type="text/css" media="screen" href="http://www1.upo.org/browser-detection.css" />
		<script type="text/javascript" src="http://www1.upo.org/browser-detection.js"></script>
	</head>
	<body>
		<div class="outerFrame" >
			<div class="innerFrame" >
				<div style="height:175px">
					<img style="border:0px;float:left;display:inline-block;position:absolute;margin-left:1133px;margin-top:133px;" src="images/gosearch.png" alt="Search" title="Search" />
					<img src="images/banner_wide.png" alt=" " style="position:absolute;width:1260px;"  />
					<div id="headerCaption1" style="position:absolute;display:inline-block;margin-left:350px;margin-top:70px;color:#fff;font-size:32px;font-weight:900;opacity:1;filter:alpha(opacity=100);" ><i>UNITING YOUTH WITH CAREER DEVELOPMENT</i></div>
					<div id="headerCaption2" style="position:absolute;display:inline-block;margin-left:350px;margin-top:70px;color:#fff;font-size:32px;font-weight:900;opacity:0;filter:alpha(opacity=0);" ><i>UNITING PEOPLE WITH TRAINING & EMPLOYMENT</i></div>
					<div id="headerCaption3" style="position:absolute;display:inline-block;margin-left:350px;margin-top:70px;color:#fff;font-size:32px;font-weight:900;opacity:0;filter:alpha(opacity=0);" ><i>UNITING FAMILIES WITH SERVICES</i></div>
					<div id="headerCaption4" style="position:absolute;display:inline-block;margin-left:350px;margin-top:70px;color:#fff;font-size:32px;font-weight:900;opacity:0;filter:alpha(opacity=0);" ><i>UNITING PEOPLE WITH OPPORTUNITIES</i></div>
					<div id="headerCaption5" style="position:absolute;display:inline-block;margin-left:350px;margin-top:70px;color:#fff;font-size:32px;font-weight:900;opacity:0;filter:alpha(opacity=0);" ><i>UNITING CHILDREN WITH EDUCATION</i></div>
					<a href="/"><img style="border:0px;float:left;display:inline-block;position:absolute;height:152px;margin-top:10px;margin-left:10px;z-Index:5;" src="images/upo_logo_transp.png" alt="UPO Home" title="UPO Home" /></a>
   					<a href="https://www.facebook.com/pages/United-Planning-Organization/103402638590" target="_blank"><img style="border:0px;float:left;display:inline-block;position:absolute;margin-left:910px;margin-top:133px;border-radius:3px;" src="images/facebook.png" alt="Facebook" title="Facebook" /></a>
   					<a href="https://twitter.com/#!/UPOinDC" target="_blank"><img style="border:0px;float:left;display:inline-block;position:absolute;margin-left:946px;margin-top:133px;border-radius:3px;" src="images/twitter.png" alt="Twitter" title="Twitter" /></a>
   					<a href="http://www.youtube.com/user/TheUPOinDC" target="_blank"><img style="border:0px;float:left;display:inline-block;position:absolute;margin-left:984px;margin-top:133px;border-radius:3px;" src="images/youtube.jpg" alt="You Tube" title="You Tube" /></a>
					<form name="searchForm" id="searchForm" method="post" action="search.php">
						<input type="text" style="border:0px;float:left;display:inline-block;position:absolute;margin-left:1020px;margin-top:133px;height:23px;width:140px;border-radius:4px;" name="searchInput" id="searchInput" />
						<input type="image" style="border:0px;float:left;display:inline-block;position:absolute;margin-left:1175px;margin-top:133px;border-radius:3px;" src="images/gosearch.png" alt="Search" title="Search" />
					</form>
				</div>
				<div style="height:47px;border:0px solid black;padding-top:5px;background:#000000;text-align:center;margin-left:-1px;">
					<img style="display:inline;float:left;height:47px;width:47px;" src="images/nav_left.png" />
					<div style="text-align:center;display:inline-block;height:48px;background:url(images/navbutton.png) repeat-x;width:100px;" onmouseover="document.getElementById('sm_au').style.visibility='visible';" onmouseout="document.getElementById('sm_au').style.visibility='hidden';" >
						<div style="float:left;height:45px;width:1px;background:#333;position:relative;"></div>
						<div style="display:inline-block;margin-top:13px;color:#ffffff;padding:0px 8px 0px 8px;font-weight:400;"><a style="color:#fff;text-decoration:none;" href="AU0-Main.php">About Us</a></div>
						<div style="float:right;height:45px;width:1px;background:#ccc;position:relative;"></div>
						<div id="sm_au" style="visibility:hidden;display:block;position:absolute;background:#fff;margin-top:15px;margin-left:0px;width:150px;z-Index:100;">
							<a class="navItem" href="AU1-h.php">History</a><hr class='navSpacer'/>
							<a class="navItem" href="AU2-et.php">Executive Team</a><hr class='navSpacer'/>
							<a class="navItem" href="AU3-bod.php">Board of Directors</a><hr class='navSpacer'/>
							<a class="navItem" href="AU4-SC.php">Service Centers</a><hr class='navSpacer'/>
							<a class="navItem" href="AU5-p.php">Partnerships</a><hr class='navSpacer'/>
							<a class="navItem" href="AU6-ar.php">Annual Report</a><hr class='navSpacer'/>
							<a class="navItem" href="AU10-UC.php">UPO Careers</a><hr class='navSpacer'/>
							<a class="navItem" href="CON1-c.php">Contact Us</a>
						</div>
					</div>
					<div style="text-align:center;display:inline-block;height:48px;background:url(images/navbutton.png) repeat-x;width:215px;" onmouseover="document.getElementById('sm_ce').style.visibility='visible';" onmouseout="document.getElementById('sm_ce').style.visibility='hidden';" >
						<div style="display:inline-block;margin-top:13px;color:#ffffff;padding:0px 5px 0px 4px;font-weight:400;"><a style="color:#fff;text-decoration:none;" href="CE3-hs.php">Early Learning Network</a></div>
						<div style="float:right;height:45px;width:1px;background:#ccc;position:relative;" ></div>
						<div id="sm_ce" style="visibility:hidden;display:block;position:absolute;background:#fff;margin-top:15px;margin-left:-15px;width:250px;z-Index:100;"  >
							<!-- a class="navItem" href="CE1-eed.php">Early Education Description</a><hr class='navSpacer'/> -->
							<a class="navItem" href="CE2-dc.php">Development Centers</a>
							<!-- <a class="navItem" href="CE3-hs.php">Head Start</a> -->
						</div>
					</div>
					<div style="text-align:center;display:inline-block;height:48px;background:url(images/navbutton.png) repeat-x;width:125px;" onmouseover="document.getElementById('sm_y').style.visibility='visible';" onmouseout="document.getElementById('sm_y').style.visibility='hidden';" >
						<div style="display:inline-block;margin-top:13px;color:#ffffff;padding:0px 8px 0px 8px;font-weight:400;"><a style="color:#fff;text-decoration:none;" href="Y0.php"> Youth&nbsp;Services</a></div>
						<div style="float:right;height:45px;width:1px;background:#ccc;position:relative;"></div>
						<div id="sm_y" style="visibility:hidden;display:block;position:absolute;background:#fff;margin-top:15px;margin-left:-50px;width:200px;z-Index:100;">
			<!--a class="navItem" href="Y0.php">Youth Services</a><hr class='navSpacer'/-->
			<!--a class="navItem" href="Y1-act.php">Annual College Tours</a><hr class='navSpacer'/-->
			<a class="navItem" href="Y2-bs.php">Beavers Scholarship</a><hr class='navSpacer'/>
			<!--a class="navItem" href="Y3-k2c.php">Kids 2 College</a><hr class='navSpacer'/-->
			<!--a class="navItem" href="Y4-ptw.php">Passport To Work</a><hr class='navSpacer'/-->
			<a class="navItem" href="Y5-pwr.php">POWER</a><hr class='navSpacer'/>
			<a class="navItem" href="Y6-sc.php">Freedom Schools Summer Program</a>
			<!--a class="navItem" href="Y7-sy.php">Summer Youth</a-->
		</div>
	</div>
	<div style="text-align:center;display:inline-block;height:48px;background:url(images/navbutton.png) repeat-x;width:208px;" onmouseover="document.getElementById('sm_et').style.visibility='visible';" onmouseout="document.getElementById('sm_et').style.visibility='hidden';" >
		<div style="float:left;height:45px;width:1px;background:#333;position:relative;"></div>
		<div style="display:inline-block;margin-top:13px;color:#ffffff;padding:0px 8px 0px 8px;font-weight:400;"><a style="color:#fff;text-decoration:none;" href="ET1-er.php">Employment &amp; Training</a></div>
		<div style="float:right;height:45px;width:1px;background:#ccc;position:relative;"></div>
		<div id="sm_et" style="visibility:hidden;display:block;position:absolute;background:#fff;margin-top:15px;width:200px;z-Index:100;">
			<!--a class="navItem" href="ET1-er.php">Employment Readiness</a><hr class='navSpacer'/-->
			<a class="navItem" href="ET2-ae.php">Adult Education and Training</a><hr class='navSpacer'/>
			<!--a class="navItem" href="ET3-hc.php">Health Careers</a><hr class='navSpacer'/-->
			<!--a class="navItem" href="ET4-fh.php">Food Handlers</a><hr class='navSpacer'/-->
            <a class="navItem" href="ET2-CHC.php">Capital Health Careers</a><hr class='navSpacer'/>
			<a class="navItem" href="ET8-ecd.php">Employment and Career Development</a><hr class='navSpacer'/>
			<a class="navItem" href="ET6-ws.php">Environmental and Construction Trades Training</a>
		</div>
	</div>
	<div style="text-align:center;display:inline-block;height:48px;background:url(images/navbutton.png) repeat-x;width:252px;" onmouseover="document.getElementById('sm_fc').style.visibility='visible';" onmouseout="document.getElementById('sm_fc').style.visibility='hidden';" >
		<div style="float:left;height:45px;width:1px;background:#333;position:relative;"></div>
		<div style="display:inline-block;margin-top:13px;color:#ffffff;padding:0px 8px 0px 8px;font-weight:400;"><a style="color:#fff;text-decoration:none;" href="FC0-Main.php">Family &amp; Community Services</a></div>
		<div style="float:right;height:45px;width:1px;background:#ccc;position:relative;"></div>
		<div id="sm_fc" style="visibility:hidden;display:block;position:absolute;background:#fff;margin-top:15px;width:240px;z-Index:100;">
			<a class="navItem" href="FC1-hsa.php">Housing and Shelter Assistance</a><hr class='navSpacer'/>
            <a class="navItem" href="FC5-fs.php">Family Services</a><hr class='navSpacer'/>
			<a class="navItem" href="FC1-ch.php">Community Health</a><hr class='navSpacer'/>
			<a class="navItem" href="FC12-AD.php">Community Reinvestment</a><hr class='navSpacer'/>
			<a class="navItem" href="FC2-S.php">Seniors</a><hr class='navSpacer'/>
			<a class="navItem" href="FC13-ws.php">Weatherization Services</a>
		</div>
	</div>
	<div style="text-align:center;display:inline-block;height:48px;background:url(images/navbutton.png) repeat-x;width:110px;" onmouseover="document.getElementById('sm_n').style.visibility='visible';" onmouseout="document.getElementById('sm_n').style.visibility='hidden';" >
		<div style="float:left;height:45px;width:1px;background:#333;position:relative;"></div>
		<div style="display:inline-block;margin-top:13px;color:#ffffff;padding:0px 8px 0px 8px;font-weight:400;"><a style="color:#fff;text-decoration:none;" href="NR-Main.php">Newsroom</a></div>
		<div style="float:right;height:45px;width:1px;background:#ccc;position:relative;"></div>
		<div id="sm_n" style="visibility:hidden;display:block;position:absolute;background:#fff;margin-top:15px;margin-left:-28px;width:160px;z-Index:100;">
			<!--a class="navItem" href="donate.php">Donate Now</a><hr class='navSpacer'/-->
			<a class="navItem" href="NR-PR.php">Press Releases</a><hr class='navSpacer'/>
			<a class="navItem" href="NR-mv.php">Media Vault</a><hr class='navSpacer'/>
			<a class="navItem" href="NR-SS.php">Impact Stories</a><hr class='navSpacer'/>
            <a class="navItem" href="NR-EN.php">e-Newsletter</a>
		</div>
	</div>
	<div style="text-align:center;display:inline-block;height:48px;background:url(images/navbutton.png) repeat-x;width:80px;" onmouseover="document.getElementById('sm_d').style.visibility='visible';" onmouseout="document.getElementById('sm_d').style.visibility='hidden';" >
		<div style="float:left;height:45px;width:1px;background:#333;position:relative;"></div>
		<div style="display:inline-block;margin-top:13px;color:#ffffff;padding:0px 8px 0px 8px;font-weight:400;"><a style="color:#fff;text-decoration:none;" href="donate.php">Donate</a></div>
		<div style="float:right;height:45px;width:1px;background:#ccc;position:relative;"></div>
		<div id="sm_d" style="visibility:hidden;display:block;position:absolute;background:#fff;margin-top:15px;margin-left:-80px;width:160px;z-Index:100;">
			<!--a class="navItem" href="donate.php">Donate Now</a><hr class='navSpacer'/-->
			<a class="navItem" href="D2-v.php">Volunteer</a><hr class='navSpacer'/>
			<!--a class="navItem" href="D3-fou.php">Friends of UPO</a><hr class='navSpacer'/-->
			<a class="navItem" href="D4-cg.php">Other Ways to Give</a><hr class='navSpacer'/>
			<a class="navItem" href="D5-cd.php">Car Donation</a>
		</div>
	</div>
	<img style="display:inline;float:right;height:47px;width:47px;" src="images/nav_right.png" />
</div>
<table style="border:0px;" cellpadding='0' cellspacing='0'>
	<tr>
		<td class="leftColumn">
			<div style="margin:0px;width:299px;border:1px solid black;background:url(images/paper-texture-3.png) repeat;">
				<div style="text-align:center">
					<img src="images/blueboxtop.png" alt=" " />
					<span style="color:#fff;position:relative;top:-39px;;font-size:21px;">UPO Effect</span>
				</div>
				<div style="font-size:14px;margin:0px 30px 30px 30px;">
					<span style="font-size:20px;font-weight:600;color:#7F4114">
						<a href="images/Tax Services Flyer 2013 Version 2.jpg" target="_blank">Free</a>
						2012-2013 Tax Preparation & Filing
					</span>
					<p><span style="font-size:20px;font-weight:600;color:#7F4114">Beavers Scholarship</span></p>
					<p>
						Five Beavers scholars on the road to educational success! Thank you for your donations, they make a difference.</font><br /> 
						<a href="Y2-bs.php">Read more...</a><br/>
						<br/>
					</p>
					<span style="font-size:20px;font-weight:600;color:#7F4114">Summer Youth Intern White House Experience</span>
					<p>
						Priceless exposure to youth employment opportunities</font><br />
						<a href="pdf/SYIP White House Synopsis.pdf">Read more...</a>
					</p>
					<span style="font-size:20px;font-weight:600;color:#7F4114">Events Calendar</span>
					<p>
						Stay tuned to the latest events</font><br />
						<a href="AU9-GC.php">Read more...</a><br />
					</p>
				</div>
			</div>
			<div style="margin:0px;width:299px;border:1px solid black;background:url(images/paper-texture-3.png) repeat;">
				<div style="text-align:center">
					<img src="images/blueboxtop.png" alt=" " />
					<span style="color:#fff;position:relative;top:-39px;font-size:21px;">Become Involved</span>
				</div>
				<div style="font-size:14px;;margin:0px 30px 30px 30px;">
					<a style="display:block;margin:10px;font-size:20px;font-weight:600; color:#7F4114;text-decoration:none;" href="D2-v.php">Volunteer Now</a>
					<a style="display:block;margin:10px;font-size:20px;font-weight:600; color:#7F4114;text-decoration:none;" href="D1-dn.php">Donate Today</a>
					<a style="display:block;margin:10px;font-size:20px;font-weight:600; color:#7F4114;text-decoration:none;" href="D1-dn.php">Donate to the Beavers Scholarship</a>
					<a style="display:block;margin:10px;font-size:20px;font-weight:600; color:#7F4114;text-decoration:none;" href="D5-cd.php">Donate Your Car Today</a>
					<a style="display:block;margin:10px;font-size:20px;font-weight:600; color:#7F4114;text-decoration:none;" href="http://visitor.r20.constantcontact.com/d.jsp?llr=jqh5sujab&p=oi&m=1109866257929">Subscribe to Our Newsletter</a>
				</div>
			</div>
			<div style="margin:0px;width:299px;border:1px solid black;background:url(images/paper-texture-3.png) repeat;">
	<div style="text-align:center">
		<img src="images/blueboxtop.png" alt=" " />
		<span style="color:#fff;position:relative;top:-39px;font-size:21px;">UPO Opportunities</span>
	</div>
	<div style="font-size:14px;font-family:arial;margin:0px 30px 30px 30px;">
<!--div style="margin:10px 10px 0px 10px;font-size:19px;font-weight:600; color:#7F4114;text-decoration:none;">DC Register Announcement Notice</div>
<a style="margin-left:30px;font-family:arial;" href="pdf/DC Register Announcement 062212.pdf" target="_blank">More...</a><br/><br/>
<div style="margin:10px 10px 0px 10px;font-size:19px;font-weight:600; color:#7F4114;text-decoration:none;">CSBG State Plan and Application</div>
<a style="margin-left:30px;font-family:arial;" href="pdf/CSBGStateplanapplication.pdf" target="_blank">More...</a-->
		<a style="display:block;margin:10px;font-size:20px;font-weight:600; color:#7F4114;text-decoration:none;" href="AU10-UC.php">Careers</a>
		<a style="display:block;margin:10px;font-size:20px;font-weight:600; color:#7F4114;text-decoration:none;" href="AU8-bo.php">Open Solicitations</a>
		<a style="display:block;margin:10px;font-size:20px;font-weight:600; color:#7F4114;text-decoration:none;" href="CON1-c.php">Contact Us</a>
	</div>
</div>
					</td>
					<td class="rightColumn">
							<div style="text-align:center;height:50px;">
								<div class="otm" >
									<!--img src="images/content_top_left.png" alt=" " class="otl" />
									<img src="images/content_top_right.png" alt=" " class="otr" /-->
								</div>
								<span class="contentTitle">Planting Hope in Hard Places</span>
							</div>
						<div class="contentOuterBox">
							<div style="height:375px;">
								<!--div id="rotateArticle1" style="position:absolute;top:15px;font-size:14px;margin:5px 10px 10px 10px;opacity:1;filter:alpha(opacity=100);display:block;">
									<a href="wwww.upo.org/fc12-adtax.php" target="_blank" style="text-decoration:none;">
									<span style="font-size:24px;font-weght:600;color:blue">
										<center><strong>Free Tax Preparation & Electronic Filing</strong></center>
                                        
									</span>
									<br/>
									<div style="float:left;width:460px;">
										<center>
											<img src="images/vita2.jpg" alt="" width="398" style="border:1px solid #000;height:230px;margin-top:25px;margin-left:-45px;"/>
                                            
										</center>
									</div>
									<div style="float:right;width:460px;">
										
									  <span style="text-align:justify;margin-top:15px;font-size:23px;color:blue;margin-left:30px;">
										<br/>
										
												For appointments call<br />(202) 562-3800.<br /> <br />
                                                
                                       </span>
                                       </div>
                                       </a>
                                       </div-->
                                       
                                       <div id="rotateArticle1" style="position:absolute;top:15px;font-size:14px;margin:5px 10px 10px 10px;opacity:1;filter:alpha(opacity=100);display:block;">
									<a href="Y0.php" target="_blank" style="text-decoration:none;">
									<span style="font-size:24px;font-weght:600;color:blue">
										<center><strong>INVEST IN OUR YOUTH, THE FUTURE LEADERS!</strong></center>
                                        
									</span>
									<br/>
									<div style="float:left;width:460px;">
										<center>
											<img src="images/POWERye.jpg" alt="" style="border:1px solid #000;height:230px;margin-top:25px;margin-left:-45px;"/>
                                            
										</center>
									</div>
									<div style="float:right;width:460px;">
										
									  <span style="text-align:justify;margin-top:15px;font-size:23px;color:blue;margin-left:30px;">
										<br/>
										
												Educate and empower youth <br />through academic and<br /> cultural enrichment programs.<br />
                                                
                                       </span>
                                       </div>
                                       </a>
                                       </div>
                                                
								<div id="rotateArticle2" style="position:absolute;top:15px;font-size:14px;margin:5px 10px 10px 10px;opacity:0;filter:alpha(opacity=0);display:none;">
									<a href="ET1-er.php" target="_blank" style="text-decoration:none;">
									<span style="font-size:24px;font-weight:600;color:blue">
										<center><strong>CAREER DEVELOPMENT, YOUR PATHWAY TO SUCCESS!</strong></center>
									</span>
									<br/>
									<div style="float:left;width:460px;">
										<center>
											<img src="images/careers employment opportunities 6.jpg" alt="" style="border:1px solid #000;height:230px;margin-top:20px;margin-left:-20px;"/>
										</center>
									</div>	
									<div style="float:right;width:460px;">
										<span style="text-align:left;margin-top:15px;font-size:23px;color:blue;margin-left:30px;"><br />Jobs promote stability, self worth and family unity.
									    <ul>
                                        <li>Food Service</li>
                                        <li>Healthcare </li>
                                        <li>Environmental and Construction Trades</li>
                                        </ul>
                                        Become part of our community's workforce!
                                        <br />
								      </span>
									</div>
									</a>
								</div>
								
								
								<div id="rotateArticle3" style="position:absolute;top:15px;font-size:16px;margin:5px 10px 10px 10px;opacity:0;filter:alpha(opacity=0);display:none;">
								<a href="FC0-Main.php" target="_blank" style="text-decoration:none;">	
									<span style="font-size:24px;font-weight:600;color:blue">
										<center>STRONGER FAMILIES = STRONGER COMMUNITIES!</center>
								</span> 
								<br/>
									<div style="float:left;width:460px;">
										<center>
										<img src="images/Family Services Picture.JPG" alt="" style="border:1px solid #000;height:230px;margin-top:20px;margin-left:-20px;"/>
										</center>
									</div>
									<div style="float:right;width:460px;">
										<span style="text-align:left;margin-top:15px;font-size:23px;color:blue;margin-left:30px;">
											<br />Providing shelter and healthcare for our neediest. Utilizing our seniors to help our children. <br /><br />Building community, family and individual stability every day of the week.
										</span>
									</div>	
								</a>
								</div>	
									
						        					
							   <div id="rotateArticle4" style="position:absolute; top:15px; font-size:16px; margin:5px 10px 10px 10px; opacity:0; filter:alpha(opacity=0);display:none;">
							   <a href="donate.php" target="_blank" style="text-decoration:none;"> 
									<span style="font-size:24px;font-weight:600;color:blue">
										<centeR>PLANT HOPE NOW!</centeR>
									</span>
									<br/>	
									<div style="float:left;width:460px;">	
										<center>
											<img src="images/Planting Hope picture.JPG" alt="" style="border:1px solid #000;height:230px;margin-top:20px;margin-left:-20px;"/>
										</center>
									</div>	
									<div style="float:right;width:460px;">	
										</span><span style="text-align:left; margin-top:15px; font-size:23px; color:blue; margin-left:-30px;">
                                    <br />Your generosity makes a difference:
								    </center>
                                    <ul>
                                    <li>800 people employed in full &amp; part-time jobs</li><li>1,910 children enrolled in early childhood education</li><li>136 student scholarships</li></ul>
                                    That is the UPO Effect!
									</span>
									</div>
								</a>
							    </div>
								
						        <div id="rotateArticle5" style="position:absolute;top:15px;font-size:16px;margin:5px 10px 10px 10px;opacity:0;filter:alpha(opacity=0);display:none;">
								 <a href="CE3-hs.php" target="_blank" style="text-decoration:none;">
  									<span style="font-size:24px;font-weight:600;color:blue">
										<center>BUILD THE FOUNDATION, EDUCATE OUR CHILDREN!</center>
									</span>
									<br />
									<div style="float:left;width:460px;">
										<center>									
											<img src="images/Early Learning Infant Rotation Pic.JPG" alt="" style="border:1px solid #000;width:300px;margin-top:20px;margin-left:-20px;"/>
										</center>
									</div>	
									<div style="float:right;width:460px;">
										<span style="text-align:left;margin-top:15px;font-size:23px;color:blue;margin-left:30px;">
											<br />Jump start your child's education. From toddler through pre-k, our children learn, socialize and prepare for their futue education. <br /><br />Developing great kids promote great families!
										</span>
									</div>
								</a>
									
								</div>

								<!--div id="rotateArticle6" style="position:absolute; top:50px; font-size:16px; margin:5px 10px 10px 10px; opacity:0; filter:alpha(opacity=0);">
									<span style="font-size:24px;font-weight:600;color:blue"><content starts here>
									</span>
									<br/>
									<div style="float:right;width:460px;">
										<center>
											<img src="images/HeadStart&EarlyHeadStart.JPG" alt="" style="border:1px solid #000;height:250px;margin-top:20px;margin-left:120px;"/>
										</center>
									</div>
									<div style="float:right;width:460px;">									
										<span style="text-align:left;margin-top:50px;font-size:23px;margin-left:30px;">
											<center>Enter Content Here</center><br/>
											<br/>Enter Content here
										</span>
									</div>
								</div-->
							</div>
						</div>
						<table cellpadding='0' cellspacing='0' style="height:100%;width:960px;margin-left:-1px;">
							<tr>
								<td style="margin-left:-1px;vertical-align:top;border-top:1px solid #000;border-bottom:1px solid #000;border-left:1px solid #000;background:url(images/paper-texture-3.png) repeat;width:50%;">
									<div>
										<img src="images/orangeboxtopleft.png" alt=" " /><div style="display:inline-block;float:right;clear:none;position:absolute;width:405px;height:50px;background:url(images/orangeboxtopmid.png) repeat-x;">&nbsp;</div><br/>
										<span style="color:#fff;position:relative;top:-39px;left:170px;font-size:21px;">Volunteer Heroes</span>
									</div>
									<div style="font-size:18px;margin:15px 30px 30px 30px;">
              Foster Grandparent Program member Percy Thomas poses for a photo with some of the children he works with at Miner Elementary School in Washington, DC. <font size="-1"><em>(courtesy of NBC Nightly News)</em></font><br/>
										<a href="http://dailynightly.nbcnews.com/_news/2012/10/19/14562749-learn-more-about-foster-grandparents?lite" target="_blank">More...</a><br/><br/>
										<div style="text-align:center"><iframe width="292" height="200" src="http://www.youtube.com/embed/2dn6gKwiTUg" frameborder="0" allowfullscreen></iframe></div><br/>
										VITA Volunteers prepared nearly 800 tax returns  returning over $800,000 in refunds to working families and individuals.<br/>
								    <a href="NR-SS.php">More...</a><br/><br/>
										<div style="text-align:center"><img src="images/DSCN1331.JPG" alt="" width="292" height="200" /></div><br/>
									</div>
								</td>
								<td style="vertical-align:top;border-top:1px solid #000;border-left:1px solid #000;border-bottom:1px solid #000;background:url(images/paper-texture-3.png) repeat;width:50%;">
									<div>
										<img src="images/orangeboxtopleft.png" alt=" " /><div style="display:inline-block;float:right;clear:none;position:absolute;width:405px;height:50px;background:url(images/orangeboxtopmid.png) repeat-x;">&nbsp;</div><br/>
										<span style="color:#fff;position:relative;top:-39px;left:170px;font-size:21px;">We Are "UPO"</span>
									</div>
									<div style="font-size:18px;margin:15px 30px 30px 30px;">
                                    
                                    <center><img src="images/New Hires March 2013.jpg" /></center>


										<!--I turned my F's into A's and now I am in college.<br />Watch this video and listen to this story.<br/><br />
										<!--a href="#">More...</a-->
										<!--br /><div style="text-align:center"><iframe width="292" height="200" src="http://www.youtube.com/embed/bDvTwTmePLM" frameborder="0" allowfullscreen></iframe></div>
										  <p>Support the community with your time and talent.<br />Become part of the <a href="D2-v.php">UPO Effect.</a></p><br />
									    <br />
										<!--a href="#">More...</a-->
										<!--div style="text-align:center"><a href="D2-v.php"><img src="images/volunteeropportunities.jpg" alt="" width="292" height="200" /></a></div--><br/>
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<div style="border:0px;margin-top:10px;">
	<a href="CON1-c.php">
		<img style="border:0px solid #f00;float:left;display:inline-block;position:absolute;margin:120px 0px 0px 177px;height:30px;width:150px;z-Index:2;" src="images/footerContact.png" alt="Contact Us" title="Contact Us"	/>
	</a>
	<a href="AU10-UC.php">
		<img style="border:0px solid #f00;float:left;display:inline-block;position:absolute;margin:120px 0px 0px 446px;height:30px;width:116px;z-Index:2;" src="images/footerCareers.png" alt="Careers" title="Careers" />
	</a>
	<a href="AU7-pp.php">
		<img style="border:0px solid #f00;float:left;display:inline-block;position:absolute;margin:120px 0px 0px 659px;height:30px;width:193px;z-Index:2;" src="images/footerPolicy.png" alt="Privacy Policy" title="Privacy Policy" />
	</a>
	<a href="sitemap.php">
		<img style="border:0px solid #f00;float:left;display:inline-block;position:absolute;margin:120px 0px 0px 949px;height:30px;width:118px;z-Index:2;" src="images/footerSitemap.png" alt="Site Map" title="Site Map" />
	</a>
	<a href="http://www.opm.gov/cfc/">
		<img style="border:0px solid #f00;float:left;display:inline-block;position:absolute;margin:10px 0px 0px 0px;height:79px;width:212px;z-Index:2;" src="images/footerCFC.png" alt="CFC# 90524" title="Combined Federal Campaign # 90524" />
	</a>
	<a href="http://www.onefund.dc.gov/">
		<img style="border:0px solid #f00;float:left;display:inline-block;position:absolute;margin:10px 0px 0px 1000px;height:79px;width:285px;z-Index:2;" src="images/footerDOFC.png" alt="DC One Fund Campaign # 9881" title="DC One Fund Campaign # 9881" />
	</a>



	<a href="http://maps.google.com/maps?oe=utf-8&q=301+Rhode+Island+Avenue,+NW+Washington+DC&um=1&ie=UTF-8&hq=&hnear=0x89b7b7f9f97634e9:0xea9b5d3462ac1dbf,301+Rhode+Island+Ave+NW,+Washington,+DC+20001&gl=us&ei=zwHJT9PCJ4bm6gGhy5T4Dw&sa=X&oi=geocode_result&ct=title&resnum=1&ved=0CAoQ8gEwAA" target="_blank">
		<img style="border:0px solid #f00;float:left;display:inline-block;position:absolute;margin:20px 0px 0px 330px;z-Index:2;" src="images/footerAddress.png" alt="301 Rhode Island Ave. NW Washington, DC 20001 - View in Google Maps" title="301 Rhode Island Ave. NW Washington, DC 20001 - View in Google Maps" />
	</a>
	<img src="images/footer_wide.png" alt=" " style="position:relative;z-Index:1" />
</div>
		</div>
	</div>	
	</body>
</html>
